.tokyo-map {
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding-block: 30px;
    width: 600px;
    filter: brightness(0.7);
}

.tokyo-map iframe {
    border-radius: 8px;
}

