.research {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 150px;
    max-width: 1600px;
    margin-inline: auto;
}

.research__title {
    text-align: center;
    width: 100%;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    margin: 0;
    font-size: 28px;
}

.research__description {
    width: 100%;
    text-align: center;
}

.research-break {
    border: none;
    margin-bottom: 50px;
    width: 80%;
    height: 2px;
    background: var(--research-break);
}