:root {
    --bg-color: #f0f0f0;
    --text-color: #333;
    --card-bg: rgba(255, 255, 255, 0.5);
    --card-border: rgba(0, 0, 0, 0.1);
    --shadow-color: rgba(0, 0, 0, 0.1);
    --highlight-color: #e50012;
    --research-break: radial-gradient(#333, #f0f0f0);
}

[data-theme="dark"] {
    --bg-color: #08090d;
    --text-color: #f0f0f0;
    --card-bg: rgba(20, 20, 30, 0.7);
    --card-border: rgba(255, 255, 255, 0.1);
    --shadow-color: rgba(255, 255, 255, 0.1);
    --highlight-color: #e50012;
    --research-break: radial-gradient(white, #08090d);
}